
/* *****Social link and subscribe form *********/

.page-link {
  background-color: #ddf3f5;
  display: block;
  height: 5rem;
  position: relative;
}
.main-page-logo {
  background-color: orange;
  display: block;
  left: 3.25rem;
  position: absolute;
  top: 2rem;
}

.social-contact {
  display: block;
  float: left;
  left: 9rem;
  position: absolute;
  top: 1rem;

  & ul li {
    display: block;
    float: left;
    padding: 0 0.2rem;
  }

  & ul a {
    display: block;
    text-decoration: none;
  }
}

li {
 list-style: none;
}


.subscribe-form {
  background-color: red;
  display: block;
  position: absolute;
  right: 2rem;
  top: 2rem;
}
/*.................. Navbar............. */

.main {
  background-color: $color-primary;
  height: 70px;
  position: relative;

  &-menu {
    left: 1rem;
    list-style-type: none;
    margin: 1.5rem 0 0 0;
    position: absolute;

    li {
      cursor: pointer;
      float: left;
      font-weight: 600;
      text-transform: uppercase;
      transition: 0.5s linear all;
      user-select: none;
    }
  }

}

.donation {
  list-style-type: none;
  margin: 1.22rem 0 0 0;
  position: absolute;
  right: 2rem;
}

.donation a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.donation-btn {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  /* border-radius: 20px; */
  color: #ffffff;
  font-family: Arial;
  font-size: 30px;
  padding: 15px 17px;
  text-decoration: none;
}

.donation-btn:hover {
  background: #e94560;
  text-decoration: none;
}

.main-menu li a {
  color: azure;
  font-size: 16px;
  padding: 1rem;
  text-decoration: none;
}

.main-menu li li a {
  display: block;
  font-weight: 500;
  line-height: 0;
  padding: 1.2rem 1rem;
  transition: 0.3s all linear;
}

.main-menu li a:hover {
  border-bottom: 2px solid white;
}

.submenu {
  display: none;
  position: absolute;
  top: 40px;
  background-color: $color-primary;
  z-index: 10;
  list-style: none;
  padding: 20px 43px;
  transform: translateX(-17%);
  width: 250px;
}

.main-menu li:hover ul {
  display: block;
}


/*..................... FOOTER  SECTION..........*/



/*..................... HEADER  SECTION..........*/

.header {
  height: 100vh;
  background-color: $color-white-green;
  text-align: center;
  background-size: cover;
  position: relative;
  z-index: -10;


}

.home-image img {
  height: 70%;
  width:100%;
  z-index: -9;
}


/*...................DONATION-SECTION................*/

.section-donation {
  background-image: url(../components/asset/background01.jpg);
  background-color: #00416d;
  height: 90vh;
  color: $color-white;

  &__search {
  padding: 3rem 0;
  background-color: $color-white-green;
  text-align: center;
  height: 90vh;
  }
}

.search {
  padding: 1rem 0;
  background-color: transparent;
  text-align: center;

}

.donation-main {
  padding: 2rem 0;
}
.donation-header {
  font-weight: 700;
}

.donation_form {
  margin: 8rem 0;

  & input {
    margin: 1rem;
    margin-bottom: 6rem;
  }
}

/*...................DONATION-SECTION................*/


.section-testimonial {
  background-image: url(../components/asset/test01.jpg);
  height: 100vh;
  background-color: #68b0ab;
  text-align: center;
  color: $color-white;
}

.testy-people {
  background-image: url(../components/asset/test01.jpg);
   height: 100%;
}
.image-slide {
  height: 150px;
  width: 150px;
  padding: 0.25rem;
  border-radius: 50%;
  border: 1px solid grey;
  object-fit: cover; }

blockquote {
  padding: 2%;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  line-height: 145%;
  font-size: 90%;
  position: relative;
  margin-top: 40px;
  letter-spacing: 1px;
  text-align: left;
  margin: 0 auto;
 color: $color-white; }

blockquote:before {
  content: "\201C";
  font-size: 400%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px; }

cite {
  font-size: 100%;
  margin-top: 25px;
  display: block;
  color: black;
  font-weight: 500; }

/*...................DONATION-SECTION................*/


.section-news{
    height: 120vh;
    padding: 0 2rem;
  background-color:$color-white-green;
  padding-top: 4rem;
}

.section-process {
  background-color: $color-light-light;
  height: 130vh;
  position: relative;
}

.donation-process-search {
  width: 40%;
  margin: 0 auto;
}
.section-donating {
  margin-top: 3rem;
      &-categories {
        background-color: $color-light-dark;
        height: 5rem;
      }

}
.paragraph-policy{
  text-align: left;
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;

}
.registration {
  background-color: $color-light-light;
  color: $color-grey-dark-3;
  height: 100%;
  width: 100%;
  position: relative;


  &-policy {
    margin: 0 auto;
    text-align: center;
    width: 70%;
    position: inherit;
    overflow: auto;

    &-header {
      margin: 4rem 0 3rem 0;
    }
  }
}

.form-policy-agreement {
  & form {
    width: 30%;
    margin: 0 auto;;
    text-align: center;
  }

  & input {
    padding: 2rem;
    font-size: 20px;

  }

  & label {
    padding: 0 1rem;

  }

  & a {
    display: block;
    margin: 3rem auto;
  }
}


.news-page {
  height: 100%;
  width: 100%;

  &-header {
    height: 500px;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/6335/man-coffee-cup-pen.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: 100%;
    background-position: top;
    position: relative;
  }

  &-load-more{
    width: 40rem;
    margin: 4rem auto;
    text-align: center;
  }
}
